<%- include('../layouts/layout.ejs') -%>
<div class="mx-auto text-center">
    <h1 class="display-4">Connectez-vous</h1>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm p-4">
                    <form method="post">

                        <!-- Email -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" name="email" placeholder="Adresse email" type="email">
                                <small class="form-text text-muted">
                                    Saisissez votre email.
                                </small>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input class="form-control" id="password" name="password" placeholder="Mot de passe." type="password">
                            <small class="form-text text-muted">
                                Saisissez votre mot de passe.
                            </small>
                            <small class="form-text text-muted">
                                Pas de compte ? <a href="/register">Inscrivez-vous</a> 
                            </small>
                        </div>

                        <!-- Submit button -->
                        <button class="btn btn-block btn-primary">
                            <i class="fas fa-lock"></i>
                            Connexion
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
